<server description="sample-jaxws">
    
    <featureManager>
		<feature>jsp-2.3</feature>        
        <feature>jaxws-2.2</feature>
        <feature>beanValidation-2.0</feature>
        <feature>cdi-2.0</feature>
	</featureManager>

    <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint" />
		
<!--	<keyStore id="defaultKeyStore" location="${server.config.dir}/resources/security/key.p12" password="${keystore_password}" type="PKCS12"/>-->

<!--    <sslDefault outboundSSLRef="alternateSSLSettings" />-->

<!--     SSL configuration for outbound SSL connections -->
<!--    <ssl id="alternateSSLSettings" keyStoreRef="alternateKeyStore" trustStoreRef="alternateTrustStore" />-->

<!--    <keyStore id="alternateKeyStore" location="${server.config.dir}/config/demo.jks" password="secret" type="JKS" />-->

<!--    <keyStore id="alternateTrustStore" location="${server.config.dir}/config/demo.jks" password="secret" type="JKS" />-->

    <webApplication location="${app.location}" contextRoot="${app.context}" name="${app.name}" />
        
<!--    <logging traceSpecification="SSLChannel=all:com.ibm.ws.ssl.*=all:com.ibm.websphere.ssl=all:com.ibm.wsspi.ssl.*=all" />-->
</server>
